.chatwindow{
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
/* navbar */
.nav-bar{
    width: 100%;
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.nav-bar span{
    margin: 0.3rem 2rem;
}
.userIcon{
    margin: 0.3rem 2rem;
}
.userIconspan{
    background-color: #339cff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* user Input */
.chatwindow-Input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}
.input-box{
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
input{
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px,;
}
input:focus{
    outline: none;
}
.info{
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4 ;
    margin-bottom: 1rem;
}
#submit{
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    position: relative;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#submit i:hover{
    color: #fff;
}