.sidebar{
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid 0.5px rgba(255,255,255,0.5);
    background-color: transparent;
}
button:hover{
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
    cursor: pointer;
}
.logo{
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
}
button span{
    font-size: 20px;
}
.history{
    margin: 10px;
    padding: 10px;
    height: 100%;
}
.history li{
    list-style-type: none;
    padding: 2px 5px;
    margin-bottom: 0.13rem;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    border: solid 10px transparent;
}
.history li:hover{
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}
.sign{
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}
.chat{
    margin: 8px;
    padding: 2px 5px;
    color: #afafaa;
    font-size: 14px;
    margin-bottom: 0.05rem;
}